ETCD_NAME={{ etcd_node_name }}
ETCD_DATA_DIR=/var/lib/etcd
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:{{ etcd_client_port }}
ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_default_ipv4.address }}:{{ etcd_client_port }}
ETCD_LISTEN_PEER_URLS=http://0.0.0.0:{{ etcd_peer_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_default_ipv4.address }}:{{ etcd_peer_port }}
ETCD_INITIAL_CLUSTER={{ hostvars['hip1tk-pvzbxlb01']['etcd_node_name'] }}=http://{{ hostvars['hip1tk-pvzbxlb01']['ansible_default_ipv4']['address'] }}:{{ etcd_peer_port }},{{ hostvars['hip1tk-pvzbxlb02']['etcd_node_name'] }}=http://{{ hostvars['hip1tk-pvzbxlb02']['ansible_default_ipv4']['address'] }}:{{ etcd_peer_port }},{{ hostvars['hip1tk-pvzbxsv01']['etcd_node_name'] }}=http://{{ hostvars['hip1tk-pvzbxsv01']['ansible_default_ipv4']['address'] }}:{{ etcd_peer_port }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_name }}
